# Distributed under the terms of the GNU General Public License v2

EAPI=7

SRC_URI="{{src_uri}}"
KEYWORDS="*"

DESCRIPTION="Used to create autoconfiguration files"
HOMEPAGE="https://www.gnu.org/software/autoconf/autoconf.html"
IUSE="emacs"

{%- if version == "2.13" %}
LICENSE="GPL-2"
SLOT="2.1"
{%- else %}
LICENSE="GPL-3+"
{%- if generate_info %}
SLOT="latest"
{%- else %}
SLOT="$(ver_cut 1-2)"
{%- endif %}
{%- endif %}

{%- if patches %}
PATCHES=(
{%- for patch in patches %}
	"$FILESDIR"/{{ patch }}
{%- endfor %}
)
{%- endif %}

BDEPEND="
	sys-apps/texinfo
	>=dev-lang/perl-5.10
	>=sys-devel/m4-1.4.16
"
RDEPEND="
	${BDEPEND}
	>=sys-devel/autoconf-wrapper-13
	sys-devel/gnuconfig
	!~sys-devel/${P}:2.5
"

PDEPEND="emacs? ( app-emacs/autoconf-mode )"

{%- if version == "2.13" %}
src_configure() {
	# make sure configure is newer than configure.in
	touch configure || die

	# need to include --exec-prefix and --bindir or our
	# DESTDIR patch will trigger sandbox hate :(
	#
	# need to force locale to C to avoid bugs in the old
	# configure script breaking the install paths #351982
	#
	# force to `awk` so that we don't encode another awk that
	# happens to currently be installed, but might later be
	# uninstalled (like mawk).	same for m4.
	local prepend=""
	use userland_BSD && prepend="g"
	ac_cv_path_M4="${prepend}m4" \
	ac_cv_prog_AWK="${prepend}awk" \
	LC_ALL=C \
	econf \
		--exec-prefix="${EPREFIX}"/usr \
		--bindir="${EPREFIX}"/usr/bin \
		--program-suffix="-${PV}"
}
{%- else %}
src_configure() {
	export EMACS=no
	local myconf=(
		--program-suffix="-${PV}"
	)

	econf "${myconf[@]}" || die
	# econf updates config.{sub,guess} which forces the manpages
	# to be regenerated which we dont want to do #146621
	touch man/*.1
}
{%- endif %}

src_prepare() {
	find -name Makefile.in -exec sed -i '/^pkgdatadir/s:$:-@VERSION@:' {} + || die
	default
}

src_test() {
	emake check
}

src_install() {
	default
	{%- if not generate_info %}
	rm -rf ${D}/usr/share/info
	{%- endif %}
}
