# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit flag-o-matic meson

MY_PV=${PV/_p*/}

DESCRIPTION="{{ description }}"
HOMEPAGE="https://www.spice-space.org/usbredir.html"
SRC_URI="{{artifacts[0].src_uri}}"

LICENSE="GPL-2 LGPL-2.1"
SLOT="0"
KEYWORDS="*"
IUSE="static-libs"

RDEPEND="virtual/libusb:1"
DEPEND="${RDEPEND}"
BDEPEND="virtual/pkgconfig"

DOCS="README* TODO *.txt"

post_src_unpack() {
	if [ ! -d "${S}" ]; then
		mv "${WORKDIR}"/{{github_user}}-{{github_repo}}* "${S}" || die
	fi
}
