#!/sbin/openrc-run
# Distributed under the terms of the GNU General Public License v2

command="/sbin/multipathd"
pidfile="/run/multipathd.pid"
start_stop_daemon_args="--wait 1000"

depend() {
	need localmount
	after modules
}
