# Distributed under the terms of the GNU General Public License v2

EAPI=7

DESCRIPTION="Core binutils libraries (libbfd, libopcodes, libiberty) -- skeleton package"
RDEPEND="=sys-devel/binutils-{{version_and_rev}}"
SLOT=0

{% if unmasked -%}
KEYWORDS="*"
{% else -%}
KEYWORDS=""
{% endif -%}
