# Distributed under the terms of the GNU General Public License v2

EAPI=7

DESCRIPTION="Core binutils libraries (libbfd, libopcodes, libiberty) -- skeleton package"
RDEPEND="!<sys-libs/binutils-libs-2.36.1_p3"
KEYWORDS="*"


