[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=funtoo-idled
TryExec=/usr/bin/funtoo-idled
Exec=env PYTHONPATH="" /usr/bin/funtoo-idled
NoDisplay=true
Comment=A Funtoo Idle Client for funtoo-powerbus
