[Desktop Entry]
Name=etcher
Exec=etcher %U
Terminal=false
Type=Application
Icon=balena-etcher-electron
StartupWMClass=balenaEtcher
Comment=Flash OS images to SD cards and USB drives, safely and easily.
Categories=System;

